@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel&display=swap");

:root {
  --text-color: #d6d3d1;
  --link-color: #d6d3d1;
  --border-color: #d6d3d1;
  --button-text-color: #252525;
  --linear-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
  --modal-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

body {
  color: var(--text-color);
}